/* GLOBAL STRUCTURE
   ========================================================================== */

/* test */ /** { border: 1px solid red; }*/

* { box-sizing: border-box; }

body {
	background: #FAFAFA;
	font-family: Varela, sans-serif;
	color: #2D3946;
}

.brand {
	margin: 0;
	color: #FAFAFA;
	background: #2D3946;
	text-align: center;
	padding: .75em;
	font-family: Merriweather, serif;
	text-transform: uppercase;
}

h2, 
h2 + p {
	text-align: center;
	font-family: Merriweather, serif;
	font-weight: 400;

}

h2 {
	margin-bottom: 0;
	font-weight: 700;
}

h2 + p {
	margin-top: 6px;
}

hr {
	border: none;
	border-bottom: 2px solid #2D3946; 
	padding: 0;
}

hr.double-hr {
	height: 5px;
	border-top: 3px solid #2D3946;
}



/* FORM STRUCTURE
   ========================================================================== */

form {
	max-width: 600px;
	margin: 0 auto;
	padding: 1em;
}

fieldset {
	border: none;
}



/* FORM ELEMENTS
   ========================================================================== */

legend {
	font-family: Merriweather, serif;
	font-size: 1.5em; /* 16/24 = 1.5 */
	font-weight: 700;
}

label, 
input {
   	display: block;
   }

label.description {
	padding: 1.125em 0 .75em 0;
}

/* FOOTER
   ========================================================================== */
footer {
	font-family: Merriweather, serif;
	text-align: center;
	font-style: italic;
	font-size: .75em;
}

/* UTILITIES
   ========================================================================== */

/* MEDIA QUERIES
   ========================================================================== */


/* Notes
   ========================================================================== 
	colors
	HEADER		#2D3946
	TEXT HEADER #FAFAFA
	BORDER 		#45688c
	TEXT		#485d71
	HEAD TEXT	#222222
	BG-INPUT 	#EFF0F1
	BG-BUTTON	#48BBB6

	font size 	1em   	= 16px
				2em   	= 32px
				.75em 	= 12px
*/