/* GLOBAL STRUCTURE
   ========================================================================== */

/* test */ /** { border: 1px solid red; }*/

* { box-sizing: border-box; }

body {
	margin-top: 0;
	background: #FAFAFA;
	font-family: Varela, serif;
}



/* HEADING
   ========================================================================== */

/* FORM STRUCTURE
   ========================================================================== */

/* FORM ELEMENTS
   ========================================================================== */

/* FOOTER
   ========================================================================== */

/* UTILITIES
   ========================================================================== */

/* MEDIA QUERIES
   ========================================================================== */


/* Notes
   ========================================================================== 
	colors
	HEADER		#2D3946
	TEXT HEADER #FAFAFA
	BORDER 		#45688c
	TEXT		#485d71
	HEAD TEXT	#222222
	BG-INPUT 	#EFF0F1
	BG-BUTTON	#48BBB6

	font size 	1em   	= 16px
				2em   	= 32px
				.75em 	= 12px
*/