/* GLOBAL STRUCTURE
   ========================================================================== */

/* test */ /** { border: 1px solid red; }*/

* { box-sizing: border-box; }

body {
	background: #FAFAFA;
	font-family: Varela, sans-serif;
}

.brand {
	margin: 0;
	color: #FAFAFA;
	background: #2D3946;
	text-align: center;
	padding: .75em;
	font-family: Merriweather, serif;
	text-transform: uppercase;
}

hr {
	border: none;
	border-bottom: 2px solid #222222; 
	padding: 0;
}

hr.double-hr {
	height: 5px;
	border-top: 3px solid #222222;
}

/* FORM STRUCTURE
   ========================================================================== */

form {
	padding: 1em;
}

/* FORM ELEMENTS
   ========================================================================== */

/* FOOTER
   ========================================================================== */

/* UTILITIES
   ========================================================================== */

/* MEDIA QUERIES
   ========================================================================== */


/* Notes
   ========================================================================== 
	colors
	HEADER		#2D3946
	TEXT HEADER #FAFAFA
	BORDER 		#45688c
	TEXT		#485d71
	HEAD TEXT	#222222
	BG-INPUT 	#EFF0F1
	BG-BUTTON	#48BBB6

	font size 	1em   	= 16px
				2em   	= 32px
				.75em 	= 12px
*/